.nextButton {
  text-decoration: none;
  margin: 25px 0px;
  border: solid 2px #15ffaa;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  color: #15ffaaaa;

  --c1: #15ffaa;
  --c2: transparent;
}

.nextButton:hover {
  color: var(--primary-color);
}

.nextButton > small {
  color: grey;
}

.nextButton:hover > small {
  color: #555;
}
