.title {
  font-family: "Concert One";
  font-size: 8rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;
  background-color: #e8e8e8;
  padding: 50px;

  width: 80%;
  margin: auto;

  border-radius: 10px;
}

.grid-item {
  aspect-ratio: 1;
  height: auto;
  background-color: #1f1f1f;
  border-radius: 10px;
}

.page-title {
  text-align: center;
}
