:root {
  --primary-color: #1b1b1b;
}

body {
  background-color: var(--primary-color);
  color: #eee;
  font-family: "Poppins";
}

h1,
h2,
h3 {
  font-family: "Concert One";
}

h2 {
  cursor: pointer;
  position: relative;
}

h2:hover::after {
  content: "";
  background-image: url("/link.png");
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  background-size: cover;
  position: absolute;
  margin-left: 10px;
  filter: invert(60%);
}

ul {
  list-style: none;
  padding: 0;
}

main {
  width: 90%;
  margin: auto;
}
